<div class="container-fluid main">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image" style="height: 100vh"></div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-xl-6 mx-auto" style="margin-top: 150px;">
                            <h1>ADMIN LOGIN</h1> <br>
                            <form [formGroup]="formGroup" (ngSubmit)="loginProcess()">
                                <div class="form-group mb-3"> 
                                  <input id="inputEmail"  formControlName="email" type="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                 </div>
                                <div class="form-group mb-3">
                                   <input id="inputPassword" formControlName="password" type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-danger"><br>
                                   </div>
                                <button type="submit" class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm">Log in</button>
                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p><a href="" style="text-decoration: none;" class="font-italic text-muted"> 
                                        &nbsp;OR &nbsp; 
                                    <i>Continue with</i></a></p>
                                    <a routerLink="signup">New user signup</a>
                                </div>
                                <button type="submit" class="btn btn-primary mb-2 rounded-pill shadow-sm"><i class="fab fa-google"></i>&nbsp;&nbsp;Continue with Google</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  